nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul > li {
    list-style-type: none;
    padding-inline: 0.5rem;
    border-right: solid 2px black;
}

nav ul > li:last-child {
    border-right: 0;
}

#tasks-list ul {
    padding: 0;
}

/*#task-checkbox input {*/
/*    position: absolute;*/
/*    opacity: 0;*/
/*    cursor: pointer;*/
/*    height: 0;*/
/*    width: 0;*/
/*}*/

/*.checkmark {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 25px;*/
/*    width: 25px;*/
/*    background-color: #eee;*/
/*}*/