nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    padding: 0;
}

nav ul > li {
    list-style-type: none;
    padding-inline: 0.5rem;
    border-right: solid 2px black;
}

nav ul > li:last-child {
    border-right: 0;
}

#tasks-list ul {
    padding: 0;
}