h3 {
    margin: 0 0 0.5rem 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

input, textarea {
    background-color: var(--highlight);
    border: 0.1rem solid transparent;
    border-radius: .25rem;
    padding: 0.5rem;
    font-size: 1rem;
}

textarea:focus {
    border: 0.1rem solid var(--color3);
    border-radius: .25rem;
    outline: none !important;
}

input:focus {
    border: 0.1rem solid var(--color3);
    border-radius: .25rem;
    outline: none !important;
}


label {
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--color3);
    margin: 0.5rem 0 0.3rem 0;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    background-color: var(--primaryColor);
    color: white;
    border: 0;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

button:hover {
    background-color: var(--color4);
    cursor: pointer;
}

div {
    background-color: var(--secondaryColor);
    padding: 1rem;
    margin-top: 1rem;
}