.task-list {
    background-color: var(--secondaryColor);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: .25rem;
    list-style-type: none;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.task-list h3 {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 1.3rem;
}

.task-done {
    text-decoration: line-through;
}

.task-list-content-title p {
    margin: 0.3rem 0 0 0;
    font-weight: 500;
    font-size: 1rem;
}

.task-list-content {
    display: flex;
}

.task-list-content-title {
    flex-grow: 1;
}

.task-list-date {
    margin-top: 1rem;
}

.task-list-date > p {
    margin: 0;
    font-size: 0.8rem;
    font-style: italic;
}

.task-list-date > p span{
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
}

#delete-task {
    font-size: 0.8rem;
    color: white;
    padding: 0.3rem 0.5rem;
    background-color: var(--primaryColor);
    text-align: left;
    border: 0;
    border-radius: .25rem;
    margin-top: 0.5rem;
}

#new-task:hover {
    background-color: var(--color4);
    cursor: pointer;
}